
stateMachinesPerClass[Simulator]="simulator"
stateMachinesPerClass[Simulator]+=" simulator.Toto.RunningStep"
stateMachinesPerClass[Simulator]+=" simulator.Toto.Initializing.InitializingAvailability"
stateMachinesPerClass[Simulator]+=" simulator.Toto.Initializing.InitializingAlgo"
stateMachinesPerClass[Simulator]+=" simulator.Toto.Initializing.InitializingTask"

stateMachinesPerClass[GUISHA]="guiSHA"
stateMachinesPerClass[GUISHA]+=" guiSHA.GroupeEcranSimulation"

stateMachinesPerClass[UISHM]="uiSHM"

#stateMachinesPerClass[Lamp]="lamp"